# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Entornos virtuales
venv/
env/
ENV/
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Archivos locales
*.env
.env.local

# Seeds temporales (opcional - si no quieres versionarlos)
# inventario/management/commands/seed_*.py
equipos.xlsx
